@model EntryViewModel

@{
    ViewData["Title"] = "Delete";
    ViewData["MenuOn"] = "Blog";
    Layout = "_Layout_Blog";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entry.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entry.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entry.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entry.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entry.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entry.ModifiedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entry.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entry.Title)
        </dd>
        <dt>
            Categories
        </dt>
        <dd>
            @{
                var ccats = Model.Categories
                    .Where(c => Model.ActiveCategoryIds.Contains(c.Id))
                    .Select(c => c.Name)
                    .ToList();
                <span>@string.Join(", ", ccats)</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Admin">Back to List</a>
        </div>
    </form>
</div>
